# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.env
.env
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS / Windows
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Logs
*.log

# Coverage
.coverage
.coverage.*
htmlcov/

# Build
build/
dist/
*.egg-info/

